<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/iba_logo.png') }}">
  <title>AnkuramRobot</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/style-photo.css')}}">
    <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/games.css')}}"> -->
  <link rel='stylesheet' href='https://rawcdn.githack.com/SochavaAG/example-mycode/master/_common/css/reset.css'>
  <link rel="stylesheet" href="{{url_for('static',filename='CSS/found.css')}}">

</head>
<body>
    <div class="navigation" id="navigation">
        <ul>
            <li class="list">
                <a href="/">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="/robot">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="text">Robot</span>
                </a>
            </li>
            <li class="list">
                <a href="/chat">
                    <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                    <span class="text">Chat</span>
                </a>
            </li>
            <li class="list">
                <a href="/photo">
                    <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                    <span class="text">Photos</span>
                </a>
            </li>
            <li class="list active">
                <a href="/other">
                    <span class="icon"><ion-icon name="apps-outline"></ion-icon></span>
                    <span class="text">Other</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <div class="arrow" id="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
    </div>
    <script>
    
    const list = document.querySelectorAll('.list');
    function activeLink(){
        list.forEach((item) =>
        item.classList.remove('active'));
        this.classList.add('active');
    }
    list.forEach((item) =>
    item.addEventListener('click',activeLink))
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        
        var arrow = document.getElementById("arrow");

arrow.addEventListener("click", function() {
    document.getElementById("arrow").style.display = "none";
    document.getElementById("navigation").style.bottom = "3vh";
});
    </script>




<div class="ag-format-container">
    <div class="ag-courses_box">
        {% for result in results %}
      <div class="ag-courses_item">
        <a href="#" class="ag-courses-item_link">
          <div class="ag-courses-item_bg">
          
          {% set imgpath = "Upload_Folder/" ~ result.thinggot ~ ".png" %}
          <img src="{{ url_for('static', filename=imgpath) }}">
          </div>
  
          <div class="ag-courses-item_title">
            {{ result.thinggot }}
          </div>
  
          <div class="ag-courses-item_date-box">
            Date:
            <span class="ag-courses-item_date">
                {{ result.date }}
            </span>
          </div>
          <div class="ag-courses-item_date-box">
            Phone:
            <span class="ag-courses-item_date">
                {{ result.phone }}
            </span>
          </div>
        </a>
    </div>
    {% endfor %}
      </div>
      </div>
</body>
</html>
