<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/iba_logo.png') }}">
    <title>AnkuramRobot</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/style-photo.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/games.css')}}">
    <style>
        body{
            overflow: hidden;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="navigation" id="navigation">
        <ul>
            <li class="list">
                <a href="/">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="/robot">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="text">Robot</span>
                </a>
            </li>
            <li class="list">
                <a href="/chat">
                    <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                    <span class="text">Chat</span>
                </a>
            </li>
            <li class="list">
                <a href="/photo">
                    <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                    <span class="text">Photos</span>
                </a>
            </li>
            <li class="list active">
                <a href="/other2">
                    <span class="icon"><ion-icon name="apps-outline"></ion-icon></span>
                    <span class="text">Other</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <div class="arrow" id="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
    </div>
    <script>
    
    const list = document.querySelectorAll('.list');
    function activeLink(){
        list.forEach((item) =>
        item.classList.remove('active'));
        this.classList.add('active');
    }
    list.forEach((item) =>
    item.addEventListener('click',activeLink))
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script>
        
        var arrow = document.getElementById("arrow");

arrow.addEventListener("click", function() {
    document.getElementById("arrow").style.display = "none";
    document.getElementById("navigation").style.bottom = "3vh";
});
    </script>





<div class="ag-format-container">
    <div class="ag-courses_box">
      <div class="ag-courses_item">
        <a href="/scribble" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Skribbl
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/carball" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
            Car Ball
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/suduko" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
           Suduko
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
            </span>
          </div>
        </a>
      </div>
  
      <div class="ag-courses_item">
        <a href="/codenames" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
           Code Names
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
            </span>
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="/bingo" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
           Bingo
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
            </span>
          </div>
        </a>
      </div>

      <div class="ag-courses_item">
        <a href="/chess" class="ag-courses-item_link">
          <div class="ag-courses-item_bg"></div>
  
          <div class="ag-courses-item_title">
           Chess
          </div>
  
          <div class="ag-courses-item_date-box">
            <span class="ag-courses-item_date">
            </span>
          </div>
        </a>
      </div>

    </div>
  </div>
</body>
</html>