<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='CSS/style-photo.css')}}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/iba_logo.png') }}">
    <title>AnkuramRobot</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        iframe{
            width: 100vw;
            height: 100vh;
        }
        body {
    overflow: hidden;
}
        
    </style>
</head>
<body>
    <div class="navigation" id="navigation">
        <ul>
            <li class="list">
                <a href="/">
                    <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                    <span class="text">Home</span>
                </a>
            </li>
            <li class="list">
                <a href="/robot">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <span class="text">Robot</span>
                </a>
            </li>
            <li class="list">
                <a href="/chat">
                    <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                    <span class="text">Chat</span>
                </a>
            </li>
            <li class="list">
                <a href="/photo">
                    <span class="icon"><ion-icon name="camera-outline"></ion-icon></span>
                    <span class="text">Photos</span>
                </a>
            </li>
            <li class="list active">
                <a href="/other">
                    <span class="icon"><ion-icon name="apps-outline"></ion-icon></span>
                    <span class="text">Other</span>
                </a>
            </li>
            <div class="indicator"></div>
        </ul>
    </div>
    <div class="arrow" id="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
    </div>
    <script>
    
    const list = document.querySelectorAll('.list');
    function activeLink(){
        list.forEach((item) =>
        item.classList.remove('active'));
        this.classList.add('active');
    }
    list.forEach((item) =>
    item.addEventListener('click',activeLink))
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    
    <iframe src="{{url}}" width="100%" height="100%" allow="autoplay"></iframe>
    <script>
        
        var arrow = document.getElementById("arrow");

arrow.addEventListener("click", function() {
    document.getElementById("arrow").style.display = "none";
    document.getElementById("navigation").style.bottom = "3vh";
});
    </script>
</body>
</html>
